<!-- FORUM -->
{% load static %}

<!DOCTYPE html>

<html>
	<head>
		<title></title>

        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <link rel="stylesheet" type="text/css" href="{% static '/css/history.css' %}" />

        <link rel="stylesheet" type="text/css" href="{% static '/css/w3.css' %}" />
        <link rel="stylesheet" type="text/css" href="{% static '/css/bootstrap.css' %}" />
        <link rel="stylesheet" type="text/css" href="{% static '/css/fira_sans.css' %}" />
        <link rel="stylesheet" type="text/css" href="{% static '/css/fontawesome.css' %}" />

        <script src="{% static '/js/velocity.js' %}"></script>
        <script src="{% static '/js/popper.min.js' %}"></script>
        <script src="{% static '/js/jquery-3.3.1.min.js' %}"></script>
        <script src="{% static '/js/jquery-ui.min.js' %}"></script>
        <script src="{% static '/js/bootstrap.min.js' %}"></script>
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.1/css/all.css" integrity="sha384-O8whS3fhG2OnA5Kas0Y9l3cfpmYjapjI0E4theH4iuMD+pLhbf6JI0jIMfYcK3yZ" crossorigin="anonymous">

        <script src="https://img.highcharts.com.cn/highcharts/highcharts.js"></script>
        <script src="https://img.highcharts.com.cn/highcharts/modules/exporting.js"></script>
        <script src="https://img.hcharts.cn/highcharts-plugins/highcharts-zh_CN.js"></script>
        <script src="https://img.highcharts.com.cn/highcharts/themes/grid-light.js"></script>

        <style>
            #container {
                height: 500px;
                max-width: 800px;
                margin: 10% 2% 0% 2%;
            }
            /* Link the series colors to axis colors */
            .highcharts-color-0 {
                fill: lightgray;
                stroke: lightgray;
                stroke-width: 1px;
            }
            .highcharts-axis.highcharts-color-0 .highcharts-axis-line {
                stroke: #7cb5ec;
            }
            .highcharts-axis.highcharts-color-0 text {
                fill: #7cb5ec;
            }
            .highcharts-color-1 {
                fill: #90ed7d;
                stroke: #90ed7d;
            }
            .highcharts-axis.highcharts-color-1 .highcharts-axis-line {
                stroke: #90ed7d;
            }

            .highcharts-button-box {
                display: none;
            }

            .highcharts-button-symbol {
                display: none;
            }


        </style>

    </head>


    <body>

        <!-- Your layout here -->
        <div id="bg">&nbsp;</div>
        <div style="max-width: 30%; margin-left: 5%; padding-top:5%; color:#22252a; font-weight: bolder;" onclick="toggleHideShow();">
            <i class="fas fa-bars fa-2x"></i>
        </div>


        <div id="menu">
            <div style="height:20px;">&nbsp;</div>
            <a>
                <div style="padding: 44px 44px 0px 44px;margin-bottom: 20px;">
                    <div align="center">
                        <i class="fas fa-user-circle fa-7x" style="padding-bottom: 5px"></i>
                    </div>
                    <div align="center">
                        <span style="font-weight: bold; font-size: 16px;">{{ user.username }}</span>
                    </div>
                </div>
            </a>

            <div id="menuicon">
                <a href="/calfit/index/">
                    <div class="menuICON">
                        <i class="fas fa-home"></i><span class="menuTxt">HOME</span>
                    </div>
                </a>
                <a href="/calfit/history/">
                    <div class="menuICON" >
                        <i class="fas fa-address-book" style="margin-left: 4px"></i><span class="menuTxt" style="padding-left: 25px;">HISTORY</span>
                    </div>
                </a>
                <a href="/calfit/logout/">
                    <div class="menuICON">
                        <i class="fas fa-eject"></i><span class="menuTxt" style="padding-left: 27px;">LOGOUT</span>
                    </div>
                </a>
            </div>
        </div>

        <div id="menuBG" onclick="toggleHideShow();">&nbsp;</div>
        <div id="homeButton"></div>

        {# Chart Display #}
        <div id="container"></div>
        <script>
            var chart = Highcharts.chart('container', {
                chart: {
                    type: 'column'
                },
                title: {
                    text: 'Data of Last Week'
                },
                xAxis: {
                    {#categories: ["Mon", "Tue", "Wed", "Thu", "Fri", "Sat", "Sun"],#}
                    categories: {{ past_dates|safe }},
                    labels: {
                        enabled: true,
                        style: {
                            color: "#000000"
                        }
                    }
                },
                yAxis: {
                    min: 0,
                    title: {
                        text: ''
                    },
                    stackLabels: {  // 堆叠数据标签
                        enabled: true,
                        style: {
                            fontWeight: null,
                            color: (Highcharts.theme && Highcharts.theme.textColor) || 'gray'
                        }
                    },
                    labels: {
                        enabled: false
                    }
                },
                legend: {
                    align: 'center',
                    verticalAlign: 'bottom',
                    layout: 'horizontal',
                    y: 10,
                    floating: false,
                    backgroundColor: null,
                    borderColor: null,
                    borderWidth: 1,
                    shadow: false
                },
                tooltip: {
                    formatter: function () {
                        return '<b>' + this.x + '</b><br/>' +
                            this.series.name + ': ' + this.y + '<br/>' +
                            '总量: ' + this.point.stackTotal;
                    }
                },
                plotOptions: {
                    column: {
                        stacking: 'normal',
                        dataLabels: {
                            enabled: true,
                            color: (Highcharts.theme && Highcharts.theme.dataLabelsColor) || 'white',
                            style: {
                                // 如果不需要数据标签阴影，可以将 textOutline 设置为 'none'
                                textOutline: null
                            }
                        }
                    }
                },
                labels: {
                    styles: {
                        color: "#333333"
                    }
                },
                series: [{
                    name: 'Distance to Goal',
                    {#data: [3600, 0, 65, 0, 4000, -7000, 0],#}
                    data: {{ past_gaps|safe }},
                    color: "#d3d3d3",
                    dataLabels: {
                        enabled: false,
                        color: "#ed7d90"
                    }
                }, {
                    name: 'Accomplished',
                    {#data: [4000, 12000, 6700, 7300, 2123, 990, 10000],#}
                    data: {{ past_steps|safe }},
                    color: "#90ed7d",
                    dataLabels: {
                        align: "center",
                        verticalAlign: "middle",
                        color: "#7d90ed" {# #7d90ed,  #ed7d90 #}
                    }
                }]
            });
        </script>

    </body>

    <script>
        function toggleHideShow() {
            if ($( "#menu" ).css("left")=="-200px") {
                $( "#menu" ).stop(true).animate({ left: "+=200px" }, 600 );
                $("#menuBG").stop(true).animate({ left: "+=425px" }, 600 );
            } else {
                $("#menu").stop(true).animate({ left: "-=200px" }, 600);
                $("#menuBG").stop(true).animate({ left: "-=425px" }, 600 );
                //$("#homeButton").stop(true).animate({ bottom: "-=78px" }, 600);
            }
        }

        $(document).ready(function() {

            {# Greeting #}
            let today = new Date();
            let h = today.getHours();

            if (h >= 0 && h < 12) {
                $('#greeting').text("Good Morning");
            }
            else if (h >= 12 && h < 18) {
                $('#greeting').text("Good Afternoon");
            }
            else {
                $('#greeting').text("Good Evening");
            }
        });

    </script>

</html>