{% load static %}

<!DOCTYPE html>

<html>
    <head>
        <title></title>
        
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <link rel="stylesheet" type="text/css" href="{% static '/css/welcome.css' %}" />

        <link rel="stylesheet" type="text/css" href="{% static '/css/w3.css' %}" />
        <link rel="stylesheet" type="text/css" href="{% static '/css/bootstrap.css' %}" />
        <link rel="stylesheet" type="text/css" href="{% static '/css/fira_sans.css' %}" />
        <link rel="stylesheet" type="text/css" href="{% static '/css/fontawesome.css' %}" />

        <script src="{% static 'js/velocity.js' %}"></script>
        <script src="{% static 'js/popper.min.js' %}"></script>
        <script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
        <script src="{% static 'js/jquery-ui.min.js' %}"></script>
    </head>

    <body>
        <div>
        <video id="videobcg" preload="auto" autoplay="true" loop="loop" muted="muted" volume="0">
             <source src="http://ak3.picdn.net/shutterstock/videos/4207399/preview/stock-footage-man-hands-typing-on-a-computer-keyboard.mp4" type="video/mp4">
             <source src="movie.webm" type="video/webm">
                  Sorry, your browser does not support HTML5 video.
        </video>

        </div>

        <div class="container-fluid">
            <div class="row" style="height:100px;">&nbsp;</div>
            <div class="row text-center align-item-center">
                <div class="col-12 icon">
                    <img class="icon" src={% static '/img/logo.png' %}>
                </div>
            </div>
            <div class="row" style="height:40px;">&nbsp;</div>
            <div class="row align-item-center">
                <div class="col-12 align-item-center text-center">
                    <a href="/calfit/registration/"><div class="submitQuestion" id="Register" >Register</div></a>
                </div>
            </div>
            <div class="row align-item-center" style="margin-top: 20px;">
                <div class="col-12 align-item-center text-center">
                    <a href="/calfit/login/"><div class="submitQuestion" id="LogIn">Log in</div></a>
                </div>
            </div>
        </div>

    </body>

</html>