<!-- FORUM -->
{% load static %}

<!DOCTYPE html>

<html>
  <head>
    <title></title>
    
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <link rel="stylesheet" type="text/css" href="{% static '/css/login.css' %}" />

    <link rel="stylesheet" type="text/css" href="{% static '/css/w3.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static '/css/bootstrap.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static '/css/fira_sans.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static '/css/fontawesome.css' %}" />

      <script src="{% static '/js/velocity.js' %}"></script>
      <script src="{% static '/js/popper.min.js' %}"></script>
      <script src="{% static '/js/jquery-3.3.1.min.js' %}"></script>
      <script src="{% static '/js/jquery-ui.min.js' %}"></script>
      <script src="{% static '/js/bootstrap.min.js' %}"></script>
      <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.1/css/all.css" integrity="sha384-O8whS3fhG2OnA5Kas0Y9l3cfpmYjapjI0E4theH4iuMD+pLhbf6JI0jIMfYcK3yZ" crossorigin="anonymous">

  
  </head>
  
  <body>

    <div>
      <video id="videobcg" preload="auto" autoplay="true" loop="loop" muted="muted" volume="0">
           <source src="http://ak3.picdn.net/shutterstock/videos/4207399/preview/stock-footage-man-hands-typing-on-a-computer-keyboard.mp4" type="video/mp4">
           <source src="movie.webm" type="video/webm">
                Sorry, your browser does not support HTML5 video.
      </video>
    </div>

    <a href="/calfit/welcome/">
      <div id="back-arrow" onclick="toggleHideShow();">
        <i class="fas fa-angle-left fa-2x"></i>
      </div>
    </a>
    <div style="height: 100px;">&nbsp;</div>


      <div class="container">
          <div id="display">
              <form id=input action="/calfit/login/" method="post">
                  {% csrf_token %}
                  <div class="form-group">
                      <label for="username"><span style="font-size: medium; ">Username</span></label><br>
                      <input type="text" class="form-control input" id="username" name="username" placeholder="Enter Username" {% if username_value %} value={{ username_value }} {% endif %} required>
                  </div>
                  <div class="form-group">
                      <label for="password"><span style="font-size: medium; ">Password</span></label><br>
                      <input type="password" class="input form-control" id="password" name="password" placeholder="Enter Password" required>
                  </div>

                 {# If username not exist #}
                 {% if user_not_exist %}
                    <span id="error_msg_user" style="color:red;font-weight:bold">Username Not Exist </span>
                 {% endif %}
                 {# If password not match #}
                 {% if psw_not_match %}
                    <span id="error_msg_user" style="color:red;font-weight:bold">Password Not Match</span>
                 {% endif %}

                  <br><br>
                  <div class="form-group" align=center>
                      <label class="sr-only">Submit Login</label>
                      <input class="btn btn-primary" id="submit" type="submit" value="Login">
                  </div>
              </form>
          </div>
      </div>
  </body>
  
</html>