<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Calfit_iOS.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>C16527CF2255EC1D00D9D39F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C16527E72255EC1E00D9D39F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C16527F22255EC1E00D9D39F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
